In [ ]:
#1-Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

In [1]:
round(4.5667)

5

In [2]:
round(4.5667,2)

4.57

In [ ]:
# Convert "657" to an integer data type

In [3]:
int("657")

657

In [ ]:
#Write a program to get two numbers from a user. 
#Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. 
#Print the 6-digit code so all digits are separated by a dash.

In [4]:
import random as rand

In [9]:
n1=int(input("please enter the first number: "))
n2=int(input("please enter the second number: "))

please enter the first number: 27
please enter the second number: 100

In [8]:
d1=rand.randint(n1,n2)
d2=rand.randint(n1,n2)
d3=rand.randint(n1,n2)
d4=rand.randint(n1,n2)
d5=rand.randint(n1,n2)
d6=rand.randint(n1,n2)

In [11]:
print(f"{d1}-{d2}-{d3}-{d4}-{d5}-{d5}")

42-76-47-39-36-36

In [ ]:
#Write a program to remove ALL the white spaces from the following text:

 #Hickory, dickory, dock,     
 #The mouse ran up the clock.   
 #The clock struck one,   
 #The mouse ran down,                      
 #Hickory, dickory, dock

In [13]:
 l1='Hickory, dickory, dock, '    
 l2='he mouse ran up the clock.'   
 l3='The clock struck one, '  
 l4='The mouse ran down,  '                    
 l5='Hickory, dickory, dock'

In [14]:
l1=l1.strip()
l2=l2.strip()
l3=l3.strip()
l4=l4.strip()
l5=l5.strip()

In [15]:
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

Hickory, dickory, dock,
he mouse ran up the clock.
The clock struck one,
The mouse ran down,
Hickory, dickory, dock

In [19]:
#Write a function to calculate the miles per gallon. 
#Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

In [69]:
def calcul(miles,gallons):
    miles = float(input("enter the miles :"))
    gallons = float(input('enter the gallons :'))
    result = miles*gallons
    print(result)
calcul(miles,gallons)

enter the miles :12
enter the gallons :4
48.0

In [61]:
def calcul(miles,gallons):
    result = miles*gallons
    print(result)

In [62]:
miles = float(input("enter the miles :"))
gallons = float(input('enter the gallons :'))
calcul(miles,gallons)

enter the miles :56
enter the gallons :43
2408.0

In [ ]:
#Enhance the compute() function created during Module 2. 
#Enhance the function to compute a circle's area and circumference where:

#circle's area = 3.14 X (radius X radius)
#circle's circumference = 3.14 X diameter

In [29]:
def compute(l,w):
    a=l*w*2
    p=(l+w)*2
    print(f"the Area is {a}")
    print("="*9)
    print(f"the Perimeter is {p}")

In [30]:
l=float(input("please enter the lenght"))
w=float(input("please enter the width"))
compute(l,w)

please enter the lenght15
please enter the width8
the Area is 240.0
=========
the Perimeter is 46.0

In [ ]:
Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'. 
Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

In [ ]:
import random as rand

In [77]:
def multiply_two (x,y):
    print(x*y)

In [79]:
x=rand.randint(1,100)
y=rand.randint(1,100)
multiply_two (x,y)

4508

In [ ]:
Create a function for a multiplication table. 
Get a number from a user and then call you function which produces a multiplication table for that number. 
The output should look something like this:

In [ ]:
 #Enter a number: 3
 #3 X 1 = 3
 #3 X 2 = 6
 #3 X 3 = 9
 #3 X 4 = 12
 #3 X 5 = 15
 #3 X 6 = 18
 #3 X 7 = 21
 #3 X 8 = 24
 #3 X 9 = 27

In [96]:
def multiply(n):
    print(f"{x} x 1={x * 1}")
    print(f"{x} x 2={x * 2}")
    print(f"{x} x 3= {x * 3}")
    print(f"{x} x 4={x * 4}")
    print(f"{x} x 5={x * 5}")
    print(f"{x} x 6={x * 6}")
    print(f"{x} x 7={x * 7}")
    print(f"{x} x 8={x * 8}")
    print(f"{x} x 9={x * 9}")
    print(f"{x} x 10={x * 10}")

In [98]:
x=input("enter a number")
multiply(n)

enter a number2
2 x 1=2
2 x 2=22
2 x 3= 222
2 x 4=2222
2 x 5=22222
2 x 6=222222
2 x 7=2222222
2 x 8=22222222
2 x 9=222222222
2 x 10=2222222222